<main role="main" class="container">
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0"><%= fa_icon "search", class: "mr-1" %> Results for " <%= @query %> "</h6>
    <% @data.each do |data| %>
      <% if data[:type] == 'user' %>
        <%= render(:partial => 'user', :locals => {:user => data[:user], :date => data[:created_at]})%>
      <% end %>
      <% if data[:type] == 'message' %>
        <%= render(:partial => 'message', :locals => {:message => data[:message], :date => data[:created_at]})%>
      <% end %>
      <% if data[:type] == 'comment' %>
        <%= render(:partial => 'comment', :locals => {:comment => data[:comment], :date => data[:created_at]})%>
      <% end %>
      <% if data[:type] == 'group' %>
        <%= render(:partial => 'group', :locals => {:group => data[:group], :date => data[:created_at]})%>
      <% end %>
    <% end %>


    <small class="d-block text-right mt-3">
      <a href="#">All Activity</a>
    </small>
  </div>

</main>
