<%= form_for @group, :html => {:autocomplete => "off"} do |form| %>
  <% if @group.errors.any? %>
    <% @group.errors.full_messages do |message| %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= message %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
  <% end %>
  <div class="form-label-group">
    <%= form.text_field :groupname, class: "form-control", placeholder: "Groupname", required: true, autofocus: true, :autocomplete => :off %>
  </div>

  <div class="form-label-group">
    <%= form.text_field :title, class: "form-control", placeholder: "Title", required: true, :autocomplete => :off %>
  </div>

  <div class="form-label-group">
    <%= form.text_field :description, class: "form-control", placeholder: "Description", required: true, :autocomplete => :off %>
  </div>
  <%= form.submit class: "btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" %>
<% end %>