<div class="my-3 p-3 bg-white rounded shadow-sm">
  <h6 class="border-bottom border-gray pb-2 mb-0"><%= fa_icon "envelope-o", class: "mr-1" %> Messages</h6>
  <% @group.messages.order('updated_at DESC').each do |message| %>
    <div class="media text-muted pt-3">
      <%= image_tag user_avatar_path(message.user), :alt => "User",width:"32", height:"32" ,background:"#e83e8c", color:"#e83e8c",class:"mr-2 rounded" %>
      <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <div class="d-flex justify-content-between align-items-center w-100">
          <strong class="text-gray-dark"><%= "#{message.subject}" %></strong>
            <%= link_to "View",
                        message_view_path(:id => @group.groupname, message_id: message.id),
                        class:"text-gray-dark"
            %>
        </div>
        <div class="message_overflow">
          <%= link_to "@#{message.user.username}", profile_path(message.user), class:"badge badge-primary" %>:
          <%= message.text %>
        </div>
      </div>
    </div>
  <% end %>
  <small class="d-block text-right mt-3">
    <a href="#">All Messages</a>
  </small>
</div>
