<main role="main" class="container">

  <%= render 'header' %>
  <%= render 'group_nav' %>


  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">New Message  <%= fa_icon "envelope-o" %></h6>
    <%= render 'message_form' %>
  </div>



</main>

<%= render 'styles' %>
