<% if @user %>
  <div class="nav-scroller bg-white shadow-sm">
    <ul class="nav justify-content-center">
      <% unless current_user == @user %>
        <li class="nav-item">
          <% if current_users_follows.include? @user.id %>
            <%= link_to "Unfollow",
                        unfollow_path(:id => @user.id),
                        method: :delete,
                        class:"nav-link"
            %>
          <% else %>
            <%= link_to "Follow",
                        follow_path(:id => @user.id),
                        method: :post,
                        class:"nav-link"
            %>
          <% end %>
        </li>
        <% end %>
      <li class="nav-item">
        <%= link_to "Dashboard",
                    profile_path(@user),
                    class:"nav-link active"
        %>
      </li>
      <li class="nav-item">
        <%= link_to "Followers",
                    followers_path(@user),
                    class:"nav-link"
        %>
      </li>
      <% if @user == current_user %>
      <li class="nav-item">
        <%= link_to "Edit Account",
                    edit_profile_path(@user),
                    class:"nav-link"
        %>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-link text-danger" data-toggle="modal" data-target="#exampleModal">
          Delete Account
        </button>
      </li>
      <% end %>
    </ul>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete Account</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= link_to "Delete Account",
                      @user,
                      method: :delete,
                      data:{confrim:'Are you sure ?'},
                      class: "btn btn-danger"
          %>
        </div>
      </div>
    </div>
  </div>
<% end %>
