<div class="media text-muted pt-3">
  <% admin = User.find(membership.group.admin_id) %>
  <%= image_tag user_avatar_path(admin), :alt => "User",width:"32", height:"32" ,background:"#e83e8c", color:"#e83e8c",class:"mr-2 rounded-circle" %>
  <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
    <div class="d-flex justify-content-between align-items-center w-100">
      <div>
        Hurray! <strong>Your request approved :D</strong>
      </div>
      <div>
        <strong class="time-ago pull-right"><%= time_ago_in_words date %></strong>
        <%= link_to "Let's see!",
                    group_path(membership.group),
                    class:"text-gray-dark pull-right mr-1"
        %>
      </div>
    </div>
    <div class="message_overflow">
      Your <%= link_to "#{membership.group.title}", group_path(membership.group), class: "text-gray-dark" %> join
      request <strong>approved</strong> by
      <%= link_to "@#{admin.username}", profile_path(admin), class: "text-gray-dark" %>
    </div>
  </div>
</div>
