<% unless current_page?(:signup) || current_page?(:signin) %>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Groupath</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%= current_page?(:home) ? 'active':'' %>">
        <%= link_to "Home",
                    home_path,
                    class:"nav-link"
        %>
      </li>
      <li class="nav-item <%= current_page?(:groups) ? 'active':'' %>">
        <%= link_to "Groups",
                    groups_path,
                    class:"nav-link"
        %>
      </li>
      <% users_groups = Group.where("admin_id = ?", current_user.id)%>
      <% unless users_groups.length == 0 %>
      <li class="nav-item <%= current_page?(:my_groups) ? 'active':'' %>">
        <%= link_to "My Groups",
                    my_groups_path,
                    class:"nav-link"
        %>
      </li>
        <% end %>
    </ul>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <div class="pr-1">
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </div>
    </form>
    <% if signed_in? %>
      <!-- Example split danger button -->
      <div class="btn-group">
        <%= link_to "@#{current_user.username}",
                    profile_path(current_user),
                    class:"btn btn-primary"
        %>
        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <%= link_to "Profile",
                      profile_path(current_user),
                      class:"dropdown-item"
          %>
          <%= link_to "New Group",
                      new_group_path,
                      class:"dropdown-item"
          %>
          <%= link_to "Logout",
                      logout_path,
                      method: :delete,
                      class:"dropdown-item"
          %>
        </div>
      </div>
    <% else %>
    <div class="px-1">
      <%= link_to "Sign Up",
                  :signup,
                  class:"btn btn-outline-primary"
      %>
    </div>
    <div class="pl-1">
      <%= link_to "Sign In",
                  :signin,
                  class:"btn btn-outline-primary"
      %>
    </div>
    <% end %>
  </div>
</nav>
<% end %>